header{
    background-color: rgb(243, 225, 225);
    overflow: auto;
    position: relative;
}

header div{
    text-align: center;
    margin-top:45px;
}
#cabezal{
    position: relative;
    top:20px;
}
#inicio{
    position: absolute;
    font-weight: bolder;
    color: rgb(42, 124, 156);
    left:15px;
}

#nosotros{
    position: absolute;
    font-weight: bolder;
    color: rgb(42, 124, 156);
    left: 115px;
}   

#servicios{
    position: absolute;
    font-weight: bolder;
    color: rgb(42, 124, 156);
    left:250px;
}   
#contactanos{
    position: absolute;
    font-weight: bolder;
    color: rgb(42, 124, 156);
    left: 380px;
}   
#baño{
    position:absolute;
    margin-top: 15px;
    margin-left:05px;
}

h2.clases{
    position: relative;
    text-align: right;
    margin-right: 240px;
    margin-top: 15px;

}#parrafo1{
    position: relative;
    text-align: justify;
    margin: 0px 190px;
    padding: 0px 20px;
    
}
#generic{
    margin-left:330px;
}

#contactanos:hover{
    background-color: rgb(133, 206, 255);
}
#nosotros:hover{
    background-color: rgb(133, 206, 255);
}
#inicio:hover{
    background-color: rgb(133, 206, 255);
}
#servicios:hover{
    background-color: rgb(133, 206, 255);
}

#carrusel{
    padding:0px;
    margin:0 500px;
}

#wt{
    display: block;
    margin:auto;
    border-radius: 30px;
    width: 500px;
}

table.table {
    text-align: center;
}